.home {
  display: flex;
  width: 100%;
  height: 100%;
}

.home__container-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80em;
  margin: 7em auto;
  gap: 1.5em;
}

.card-home__header {
  width: 100%;
  height: 15em;
  position: relative;
}
.card-home {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20em;
  height: 26em;
  border: 1px solid var(--bd-grey-card);
  border-radius: 0.3em;
  cursor: pointer;
}
.card-home:hover {
  box-shadow: var(--shadow-elevation);
}

.card-home__image {
  display: block;
  width: 80%;
  height: 80%;
  aspect-ratio: 1;
  object-fit: contain;
  margin: 1em auto;
  transition: 1s ease-in;
}

.card-home__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-home__btn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 5em;
  height: 5em;
  background: var(--cl-btn);
  color: white;
  font-weight: 600;
  border-radius: 2em 0 0 0;
  border: none;
  cursor: pointer;
}
.card-home__btn:hover {
  background: var(--cl-btn__hover);
}

.fa-plus {
  font-size: 2em;
  font-weight: 100;
}

.card-home__title {
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
}

.card-home__price {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}
.card-home__price-label {
  color: grey;
  font-weight: 300;
}
.card-home__price-value {
  font-size: 1.1em;
  font-weight: 600;
}

.hidden {
  position: absolute;
  top: -1em;
  right: 0;
  left: 0;
  opacity: 0;
}

.card-home__header:hover .hidden {
  opacity: 1;
  background: white;
}
