.section__header {
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--cl-white_nav);
  box-shadow: var(--shadow-elevation-medium);
  position: fixed;
  width: 100%;
  height: 5em;
  z-index: 2;
}
.header__logo {
  width: 11em;
  margin-left: 1em;
}
.header__nav {
  margin-right: 1em;
}
.header__list {
  display: flex;
  height: 5em;
}
.header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 5em;
}
.header__item:hover {
  background: var(--cl-violet_nav__hover);
}

.fa-user,
.fa-credit-card,
.fa-bag-shopping {
  color: var(--cl-grey-icon);
  font-size: 1.4em;
  cursor: pointer;
}

.item__circle-shopping {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(235, 23, 23);
  color: var(--cl-text-white);
  width: 1.1em;
  height: 1.1em;
  aspect-ratio: 1;
  border-radius: 100%;
  top: 1.8em;
  right: 1.5em;
  font-size: 0.9em;
}

@media (max-width: 500px) {
  .header__logo {
    width: 9em;
  }
}
