.container__purchases {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.purchases {
  display: flex;
  height: 100%;
}
.container__purchases-article {
  display: flex;
}
