.shopping-cart__total {
  display: flex;
  gap: 10em;
  margin: 1em 0;
}
.shopping-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
  box-shadow: var(--shadow-elevation-shopping);
  height: 100%;
}
.shopping-cart__info-purchase {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 8em;
  bottom: 0;
}
.shopping-cart__info-purchase__btn {
  border: none;
  background: var(--cl-btn);
  border-radius: 0.2em;
  width: 15em;
  height: 3em;
  margin: 1em 0;
  cursor: pointer;
}
.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 60em;
  gap: 1em;
}
