.container__search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10em;
}
.form-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-search__input {
  width: 15em;
  height: 2em;
  border-radius: 1em 0 0 1em;
  background: rgba(94, 93, 93, 0.192);
  text-indent: 1em;
  outline: none;
  border: none;
}
.form-search__btn {
  width: 4em;
  height: 2.15em;
  border: none;
  background: var(--cl-btn__hover);
  border-radius: 0 1em 1em 0;
  cursor: pointer;
}
.fa-magnifying-glass {
  color: white;
}
.modal__filter-btn {
  display: none;
}
.serch__btn-modal-conatiner {
  display: block;
  margin: auto;
  position: relative;
  height: auto;
  width: 20em;
}
.close-modal {
}

@media (max-width: 950px) {
  .modal__filter-btn {
    display: block;
    position: absolute;
    background: none;
    border: none;
    font-size: 1.3em;
    top: 2.5em;
    right: 2em;
    cursor: pointer;
    color: var(--cl-text-grey);
  }
  .modal__filter-btn:hover {
    color: var(--cl-text-violet);
  }
  .container__filter {
    display: none;
  }

  .open-modal {
    display: block;
    position: fixed;
    z-index: 1;
  }
  .filter-products__categories-price {
    background: rgb(255, 255, 255);
    box-shadow: var(--shadow-elevation-filter);
    transition: 5s traslate;
  }
}
