@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

:root {
  --cl-violet: rgb(99, 38, 255);
  --cl-white_nav: rgb(249, 248, 248);

  --bg-white: rgb(255, 255, 255);

  --cl-text-white: rgb(254, 253, 253);
  --cl-text-black: rgb(2, 2, 2);
  --cl-text-grey: rgb(128, 125, 125);
  --cl-text-violet: rgb(99, 38, 255);

  /*<-- Header Navbar -->*/
  --cl-violet: rgb(99, 38, 255);
  --cl-white_nav: rgb(255, 255, 255);
  --cl-violet_nav__hover: rgba(122, 75, 242, 0.174);

  --shadow-color: 0deg 0% 60%;

  --shadow-elevation-medium: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.47),
    0px 0.8px 0.8px -1px hsl(var(--shadow-color) / 0.43),
    0px 2.2px 2.3px -2px hsl(var(--shadow-color) / 0.39),
    0.1px 5.6px 5.8px -3px hsl(var(--shadow-color) / 0.34);

  --shadow-elevation: 0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.3),
    0.9px 1px 1.5px -0.8px hsl(var(--shadow-color) / 0.3),
    2.2px 2.5px 3.7px -1.7px hsl(var(--shadow-color) / 0.3),
    5.4px 6px 9.1px -2.5px hsl(var(--shadow-color) / 0.3);

  --shadow-elevation-shopping: -0.3px 0px 0.3px hsl(var(--shadow-color) / 0.36),
    -0.9px 0px 1px -0.8px hsl(var(--shadow-color) / 0.36),
    -2.4px 0.1px 2.7px -1.7px hsl(var(--shadow-color) / 0.36),
    -5.8px 0.3px 6.5px -2.5px hsl(var(--shadow-color) / 0.36);

  --shadow-elevation-login: 0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.36),
    0.6px 1.1px 1.4px -0.8px hsl(var(--shadow-color) / 0.36),
    1.6px 2.8px 3.6px -1.7px hsl(var(--shadow-color) / 0.36),
    3.9px 6.9px 8.9px -2.5px hsl(var(--shadow-color) / 0.36);

  --shadow-elevation-filter: 0.2px 0px 0.2px hsl(var(--shadow-color) / 0.36),
    0.5px 0.1px 0.6px -0.8px hsl(var(--shadow-color) / 0.36),
    1.4px 0.3px 1.6px -1.7px hsl(var(--shadow-color) / 0.36),
    3.3px 0.8px 3.8px -2.5px hsl(var(--shadow-color) / 0.36);

  /*<-- Colors icon -->*/
  --cl-grey-icon: rgb(123, 123, 124);
  --cl-grey-icon__hover: rgb(36, 36, 36);

  /*<-- Cards Products  -->*/
  --bd-grey-card: rgb(215, 215, 218);

  /*<-- Shopping Cart -->*/
  --bg-shopping: rgb(117, 117, 253);

  /*<-- Buttons -->*/

  --cl-btn: linear-gradient(
    298deg,
    rgba(138, 89, 253, 0.744) 9%,
    rgba(80, 170, 255, 0.819) 59%
  );

  --cl-btn__hover: linear-gradient(
    298deg,
    rgba(138, 89, 253, 0.988) 9%,
    rgba(80, 170, 255, 0.937) 59%
  );

  /*<-- Login -->*/

  --cl-border__login: rgba(163, 163, 163, 0.201);

  --cl-border__line: rgba(163, 163, 163, 0.808);

  /*<-- links -->*/
  --cl-link: rgb(66, 159, 247);
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

ul,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--cl-link);
}
